<nz-tabset
[nzTabBarExtraContent]="extraTemplate">
  <nz-tab nzTitle="Monday">
    <app-monday-ue></app-monday-ue>
  </nz-tab>
  <nz-tab nzTitle="Tuesday">
    <app-tuesday-ue></app-tuesday-ue>
  </nz-tab>
  <nz-tab nzTitle="Wednesday">
    <app-wednesday-ue></app-wednesday-ue>
  </nz-tab>
  <nz-tab nzTitle="Thursday">
    <app-thursday-ue></app-thursday-ue>
  </nz-tab>
  <nz-tab nzTitle="Friday">
    <app-friday-ue></app-friday-ue>
  </nz-tab>
</nz-tabset>

    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="true"
      [nzWidth]="720"
      [nzVisible]="isVisibleMiddle"
      nzTitle="Set University Examination Timetable"
      (nzOnClose)="handleCancelMiddle()"
    >
    <form nz-form class="form" #formAddUe="ngForm" (ngSubmit)="onSubmit()">

      <nz-form-item>
        <nz-select
        required
        [(ngModel)]="selectedWeek"
        name="weekUpdate"
        style="width: 100%;margin-bottom: 10px;"
        nzPlaceHolder="Select Week">
        <nz-option nzValue="Week 1" nzLabel="Week 1"></nz-option>
        <nz-option nzValue="Week 2" nzLabel="Week 2"></nz-option>
        <nz-option nzValue="Week 3" nzLabel="Week 3"></nz-option>
        <nz-option nzValue="Week 4" nzLabel="Week 4"></nz-option>
        </nz-select>
      </nz-form-item>

    <nz-form-item>
      <nz-select
      required
      [(ngModel)]="dayValue"
      name="day"
      style="width: 100%;margin-bottom: 10px;"
      nzPlaceHolder="Select Day">
        <nz-option nzValue="Monday" nzLabel="Monday"></nz-option>
        <nz-option nzValue="Tuesday" nzLabel="Tuesday"></nz-option>
        <nz-option nzValue="Wednesday" nzLabel="Wednesday"></nz-option>
        <nz-option nzValue="Thursday" nzLabel="Thursday"></nz-option>
        <nz-option nzValue="Friday" nzLabel="Friday"></nz-option>
      </nz-select>
    </nz-form-item>

    <nz-form-item>
      <nz-date-picker
      name="date"
      style="width: 100%;margin-bottom: 10px;"
      [(ngModel)]="dateValue"></nz-date-picker>
    </nz-form-item>

    <nz-form-item>
      <nz-select
      [(ngModel)]="subjectValue"
      name="subject"
      required
      style="width: 100%;margin-bottom: 10px;"
      nzPlaceHolder="Select Subject Name">
      <nz-option
      *ngFor="let subject of statusServ.subjectInitialForAll"
      [nzValue]="subject.payload.doc.data().subjectShort"
      [nzLabel]="subject.payload.doc.data().subjectShort">{{subject.payload.doc.data().subjectShort}}</nz-option>
      </nz-select>
    </nz-form-item>


      <nz-form-item>
        <input
        [(ngModel)]="locationValue"
        name="location"
        style="width: 100%;margin-bottom: 10px;"
        nz-input
        placeholder="Lesson Location"
        required />
      </nz-form-item>

      <nz-form-item>
        <nz-select
        style="width: 100%;margin-bottom: 10px;"
        nzPlaceHolder="Start Time"
         [(ngModel)]="startTimeValue"
         name="end" required>
          <nz-option nzValue="07:00" nzLabel="07:00">07:00</nz-option>
          <nz-option nzValue="07:30" nzLabel="07:30">07:30</nz-option>
          <nz-option nzValue="07:45" nzLabel="07:45">07:45</nz-option>
          <nz-option nzValue="07:55" nzLabel="07:55">07:55</nz-option>
          <nz-option nzValue="08:00" nzLabel="08:00">08:00</nz-option>
          <nz-option nzValue="08:30" nzLabel="08:30">08:30</nz-option>
          <nz-option nzValue="08:45" nzLabel="08:45">08:45</nz-option>
          <nz-option nzValue="08:55" nzLabel="08:55">08:55</nz-option>
          <nz-option nzValue="09:00" nzLabel="09:00">09:00</nz-option>
          <nz-option nzValue="09:30" nzLabel="09:30">09:30</nz-option>
          <nz-option nzValue="09:45" nzLabel="09:45">09:45</nz-option>
          <nz-option nzValue="09:55" nzLabel="09:55">09:55</nz-option>
          <nz-option nzValue="10:00" nzLabel="10:00">10:00</nz-option>
          <nz-option nzValue="10:30" nzLabel="10:30">10:30</nz-option>
          <nz-option nzValue="10:45" nzLabel="10:45">10:45</nz-option>
          <nz-option nzValue="10:55" nzLabel="10:55">10:55</nz-option>
          <nz-option nzValue="11:00" nzLabel="11:00">11:00</nz-option>
          <nz-option nzValue="11:30" nzLabel="11:30">11:30</nz-option>
          <nz-option nzValue="11:45" nzLabel="11:45">11:45</nz-option>
          <nz-option nzValue="11:55" nzLabel="11:55">11:55</nz-option>
          <nz-option nzValue="12:00" nzLabel="12:00">12:00</nz-option>
          <nz-option nzValue="12:30" nzLabel="12:30">12:30</nz-option>
          <nz-option nzValue="12:45" nzLabel="12:45">12:45</nz-option>
          <nz-option nzValue="12:55" nzLabel="12:55">12:55</nz-option>
          <nz-option nzValue="13:00" nzLabel="13:00">13:00</nz-option>
          <nz-option nzValue="13:30" nzLabel="13:30">13:30</nz-option>
          <nz-option nzValue="13:45" nzLabel="13:45">13:45</nz-option>
          <nz-option nzValue="13:55" nzLabel="13:55">13:55</nz-option>
          <nz-option nzValue="14:00" nzLabel="14:00">14:00</nz-option>
          <nz-option nzValue="14:30" nzLabel="14:30">14:30</nz-option>
          <nz-option nzValue="14:45" nzLabel="14:45">14:45</nz-option>
          <nz-option nzValue="14:55" nzLabel="14:55">14:55</nz-option>
          <nz-option nzValue="15:00" nzLabel="15:00">15:00</nz-option>
          <nz-option nzValue="15:30" nzLabel="15:30">15:30</nz-option>
          <nz-option nzValue="15:45" nzLabel="15:45">15:45</nz-option>
          <nz-option nzValue="15:55" nzLabel="15:55">15:55</nz-option>
          <nz-option nzValue="16:00" nzLabel="16:00">16:00</nz-option>
          <nz-option nzValue="16:30" nzLabel="16:30">16:30</nz-option>
          <nz-option nzValue="16:45" nzLabel="16:45">16:45</nz-option>
          <nz-option nzValue="16:55" nzLabel="16:55">16:55</nz-option>
          <nz-option nzValue="17:00" nzLabel="17:00">17:00</nz-option>
          <nz-option nzValue="17:30" nzLabel="17:30">17:30</nz-option>
          <nz-option nzValue="17:45" nzLabel="17:45">17:45</nz-option>
          <nz-option nzValue="17:55" nzLabel="17:55">17:55</nz-option>
          <nz-option nzValue="18:00" nzLabel="18:00">18:00</nz-option>
          <nz-option nzValue="18:30" nzLabel="18:30">18:30</nz-option>
          <nz-option nzValue="18:45" nzLabel="18:45">18:45</nz-option>
          <nz-option nzValue="18:55" nzLabel="18:55">18:55</nz-option>
          <nz-option nzValue="19:00" nzLabel="19:00">19:00</nz-option>
          <nz-option nzValue="19:30" nzLabel="19:30">19:30</nz-option>
          <nz-option nzValue="19:45" nzLabel="19:45">19:45</nz-option>
          <nz-option nzValue="19:55" nzLabel="19:55">19:55</nz-option>
          <nz-option nzValue="20:00" nzLabel="20:00">20:00</nz-option>
          <nz-option nzValue="20:30" nzLabel="20:30">20:30</nz-option>
          <nz-option nzValue="20:45" nzLabel="20:45">20:45</nz-option>
          <nz-option nzValue="20:55" nzLabel="20:55">20:55</nz-option>
          <nz-option nzValue="21:00" nzLabel="21:00">21:00</nz-option>
        </nz-select>
      </nz-form-item>

      <nz-form-item>
        <nz-select
        style="width: 100%;margin-bottom: 10px;"
        nzPlaceHolder="End Time"
         [(ngModel)]="endTimeValue"
         name="end" required>
          <nz-option nzValue="07:00" nzLabel="07:00">07:00</nz-option>
          <nz-option nzValue="07:30" nzLabel="07:30">07:30</nz-option>
          <nz-option nzValue="07:45" nzLabel="07:45">07:45</nz-option>
          <nz-option nzValue="07:55" nzLabel="07:55">07:55</nz-option>
          <nz-option nzValue="08:00" nzLabel="08:00">08:00</nz-option>
          <nz-option nzValue="08:30" nzLabel="08:30">08:30</nz-option>
          <nz-option nzValue="08:45" nzLabel="08:45">08:45</nz-option>
          <nz-option nzValue="08:55" nzLabel="08:55">08:55</nz-option>
          <nz-option nzValue="09:00" nzLabel="09:00">09:00</nz-option>
          <nz-option nzValue="09:30" nzLabel="09:30">09:30</nz-option>
          <nz-option nzValue="09:45" nzLabel="09:45">09:45</nz-option>
          <nz-option nzValue="09:55" nzLabel="09:55">09:55</nz-option>
          <nz-option nzValue="10:00" nzLabel="10:00">10:00</nz-option>
          <nz-option nzValue="10:30" nzLabel="10:30">10:30</nz-option>
          <nz-option nzValue="10:45" nzLabel="10:45">10:45</nz-option>
          <nz-option nzValue="10:55" nzLabel="10:55">10:55</nz-option>
          <nz-option nzValue="11:00" nzLabel="11:00">11:00</nz-option>
          <nz-option nzValue="11:30" nzLabel="11:30">11:30</nz-option>
          <nz-option nzValue="11:45" nzLabel="11:45">11:45</nz-option>
          <nz-option nzValue="11:55" nzLabel="11:55">11:55</nz-option>
          <nz-option nzValue="12:00" nzLabel="12:00">12:00</nz-option>
          <nz-option nzValue="12:30" nzLabel="12:30">12:30</nz-option>
          <nz-option nzValue="12:45" nzLabel="12:45">12:45</nz-option>
          <nz-option nzValue="12:55" nzLabel="12:55">12:55</nz-option>
          <nz-option nzValue="13:00" nzLabel="13:00">13:00</nz-option>
          <nz-option nzValue="13:30" nzLabel="13:30">13:30</nz-option>
          <nz-option nzValue="13:45" nzLabel="13:45">13:45</nz-option>
          <nz-option nzValue="13:55" nzLabel="13:55">13:55</nz-option>
          <nz-option nzValue="14:00" nzLabel="14:00">14:00</nz-option>
          <nz-option nzValue="14:30" nzLabel="14:30">14:30</nz-option>
          <nz-option nzValue="14:45" nzLabel="14:45">14:45</nz-option>
          <nz-option nzValue="14:55" nzLabel="14:55">14:55</nz-option>
          <nz-option nzValue="15:00" nzLabel="15:00">15:00</nz-option>
          <nz-option nzValue="15:30" nzLabel="15:30">15:30</nz-option>
          <nz-option nzValue="15:45" nzLabel="15:45">15:45</nz-option>
          <nz-option nzValue="15:55" nzLabel="15:55">15:55</nz-option>
          <nz-option nzValue="16:00" nzLabel="16:00">16:00</nz-option>
          <nz-option nzValue="16:30" nzLabel="16:30">16:30</nz-option>
          <nz-option nzValue="16:45" nzLabel="16:45">16:45</nz-option>
          <nz-option nzValue="16:55" nzLabel="16:55">16:55</nz-option>
          <nz-option nzValue="17:00" nzLabel="17:00">17:00</nz-option>
          <nz-option nzValue="17:30" nzLabel="17:30">17:30</nz-option>
          <nz-option nzValue="17:45" nzLabel="17:45">17:45</nz-option>
          <nz-option nzValue="17:55" nzLabel="17:55">17:55</nz-option>
          <nz-option nzValue="18:00" nzLabel="18:00">18:00</nz-option>
          <nz-option nzValue="18:30" nzLabel="18:30">18:30</nz-option>
          <nz-option nzValue="18:45" nzLabel="18:45">18:45</nz-option>
          <nz-option nzValue="18:55" nzLabel="18:55">18:55</nz-option>
          <nz-option nzValue="19:00" nzLabel="19:00">19:00</nz-option>
          <nz-option nzValue="19:30" nzLabel="19:30">19:30</nz-option>
          <nz-option nzValue="19:45" nzLabel="19:45">19:45</nz-option>
          <nz-option nzValue="19:55" nzLabel="19:55">19:55</nz-option>
          <nz-option nzValue="20:00" nzLabel="20:00">20:00</nz-option>
          <nz-option nzValue="20:30" nzLabel="20:30">20:30</nz-option>
          <nz-option nzValue="20:45" nzLabel="20:45">20:45</nz-option>
          <nz-option nzValue="20:55" nzLabel="20:55">20:55</nz-option>
          <nz-option nzValue="21:00" nzLabel="21:00">21:00</nz-option>
        </nz-select>
      </nz-form-item>

      <div style="float: right;margin-top: 20px;">
        <button
        [disabled]="formAddUe.invalid"
        type="submit"
        nz-button
        nzType="primary">Set</button>
      </div>

    </form>
    </nz-drawer>



<ng-template #extraTemplate>

  <nz-select [(ngModel)]="selectedWeek"
  (ngModelChange)="weekChange()"
  name="weeks">
    <nz-option nzValue="Week 1" nzLabel="Week 1"></nz-option>
    <nz-option nzValue="Week 2" nzLabel="Week 2"></nz-option>
    <nz-option nzValue="Week 3" nzLabel="Week 3"></nz-option>
    <nz-option nzValue="Week 4" nzLabel="Week 4"></nz-option>
  </nz-select>

  <button
  [nzLoading]="statusServ.progressBarStatus"
  nz-button
  nzType="primary"
  (click)="showModalMiddle()"
  >
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  Set Timetable
</button>

</ng-template>

