



<div fxLayout="row">
    <div style="margin:10px">
        <nz-card style="width:250px">
            <div fxLayout="column" fxLayoutAlign="space-around start">
                <nz-card nzHoverable style="width: 200px;">
                    <div fxLayout="row">
                        <div fxLayout="column" fxLayoutAlign="space-around start" >
                            <div style="font-family: 'Nunito', sans-serif;font-weight: bold;font-size: large;">MT100</div>
                            <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                        </div>
                        <div>

                        </div>
                    </div>
                </nz-card>
            </div>
        </nz-card>
    </div>

    <div style="margin:10px">
        <nz-card style="width:250px">
            <div fxLayout="column" fxLayoutAlign="space-around start">
                
            </div>
        </nz-card>
    </div>

    <div style="margin:10px">
        <nz-card style="width:250px">
            <div fxLayout="column" fxLayoutAlign="space-around start">
                
            </div>
        </nz-card>
    </div>
</div>

