



<div fxLayout="row">
    <div style="margin:10px; background-color: #F4F5F7;"
    fxLayout="column" fxLayoutAlign="start center" 
    cdkDropList>
        <div style="margin-top: 5px;color: #637BA9;">All Course</div>
        <div style="width:350px">
            <div fxLayout="column" fxLayoutAlign="space-around start" style="margin: 10px;">
                <nz-card nzHoverable cdkDrag
                style="width: 320px;height: 80px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

                <nz-card nzHoverable cdkDrag
                style="width: 320px;margin-bottom: 10px;">
                <div fxLayout="column" >
                    <div style="font-family: 'Nunito', sans-serif;">MT100</div>
                    <div style="font-family: 'Nunito', sans-serif">Mathematical Logic and Semantics</div>
                </div>
                </nz-card>

            

            </div>
        </div>
    </div>

    <div style="margin:10px">
        <nz-card style="width:250px">
            <div fxLayout="column" fxLayoutAlign="space-around start">
                
            </div>
        </nz-card>
    </div>

    <div style="margin:10px">
        <nz-card style="width:250px">
            <div fxLayout="column" fxLayoutAlign="space-around start">
                
            </div>
        </nz-card>
    </div>
</div>

