<nz-tabset [nzTabBarExtraContent]="extraTemplate">
  <nz-tab nzTitle="All Class Files">
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>Name Of Document</th>
          <th>Time Updated</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>DS 113</td>
          <td>20:30 PM| October 8</td>
          <td>21.67 KB</td>
          <td>
          <button nz-button nzType="primary" nzSize="small" nzDanger style="margin: 10px">Delete</button>
          </td>
        </tr>

      </tbody>
    </nz-table>

  </nz-tab>

</nz-tabset>
<ng-template #extraTemplate>
  <nz-select [(ngModel)]="selectedSubject">
    <nz-option nzValue="DS 133" nzLabel="DS 133"></nz-option>
    <nz-option nzValue="DS 133" nzLabel="DS 133"></nz-option>
    <nz-option nzValue="DS 133" nzLabel="DS 133"></nz-option>
    <nz-option nzValue="DS 133" nzLabel="DS 133"></nz-option>
  </nz-select>
</ng-template>
