

<nz-layout class="layout">
    <nz-sider style="background-color: #512DA8;">
  
      <ul nz-menu nzMode="inline" style="background-color: #512DA8;">
        <li nz-menu-item (click)="changeLayoutDesign('overview')"
        [ngStyle]="{'background-color': switchLayoutType === 'overview'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="home" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Home</span>
        </li>
        <li nz-menu-item (click)="changeLayoutDesign('stuff')"
        [ngStyle]="{'background-color': switchLayoutType === 'stuff'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="file-protect" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Admins</span>
        </li>
        <li nz-menu-item (click)="changeLayoutDesign('verify')"
        [ngStyle]="{'background-color': switchLayoutType === 'verify'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="save" nzTheme="fill"></i>
          <span style="font-family: 'Nunito', sans-serif;">Verify Content</span>
        </li>
        <li nz-menu-item nzSelected (click)="changeLayoutDesign('review')"
        [ngStyle]="{'background-color': switchLayoutType === 'review'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Timetable</span>
        </li>
        <li nz-menu-item (click)="changeLayoutDesign('ue')"
        [ngStyle]="{'background-color': switchLayoutType === 'ue'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">UE Timetable</span>
        </li>
        <li nz-menu-item (click)="changeLayoutDesign('home')"
        [ngStyle]="{'background-color': switchLayoutType === 'home'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="read" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Subjects</span>
        </li>
        <li nz-menu-item (click)="changeLayoutDesign('collision')"
        [ngStyle]="{'background-color': switchLayoutType === 'collision'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="ungroup" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Collisions</span>
        </li>
        <li nz-menu-item (click)="changeLayoutDesign('files')"
        [ngStyle]="{'background-color': switchLayoutType === 'files'? '#651FFF':'#673AB7' }">
          <i nz-icon nzType="cloud-server" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Files</span>
        </li>
  
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;padding: 5px;">
          <div
          style=" margin-left: 20px;color: black;font-family: 'Fredoka One', cursive;font-size:x-large;
          "
          >
            Ati
          </div>
          <div>
            <nz-avatar
            *ngIf="checkIfItsyahoo !== true"
            nzSize="small"
            style="
            display: inline-block;
            vertical-align: middle;"
            [ngStyle]="{ 'background-color': '#f56a00' }" nzIcon="user" [nzSrc]="userProfileImg" nzSize="large" style="vertical-align: middle;margin-right: 10px;">
          </nz-avatar>
  
          <ngx-letters-avatar
            *ngIf="checkIfItsyahoo === true"
            [avatarName]="userName"
            [width]="40"
            [circular]="true"
            style="
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 10px;"
            fontFamily="Open Sans"></ngx-letters-avatar>
  
            <button
            (click)="logOut()"
            nz-button
            nzType="primary"
            style="font-family: 'Nunito', sans-serif;"
            >LogOut</button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div *ngIf="switchLayoutType === 'home' ">
          <app-home></app-home>
        </div>
        <div *ngIf="switchLayoutType === 'overview' ">
          <app-overview-page></app-overview-page>
        </div>
  
        <div *ngIf="switchLayoutType === 'stuff' ">
          <app-my-stuff></app-my-stuff>
        </div>
  
        <div *ngIf="switchLayoutType === 'review' ">
          <app-review></app-review>
        </div>
  
        <div *ngIf="switchLayoutType === 'verify' ">
          <app-verify></app-verify>
        </div>
  
        <div *ngIf="switchLayoutType === 'ue' ">
          <app-review-ue></app-review-ue>
        </div>
        <div *ngIf="switchLayoutType === 'collision' ">
          <app-collision></app-collision>
        </div>
  
        <div *ngIf="switchLayoutType === 'files' ">
          <app-class-file></app-class-file>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  