

<nz-layout class="layout">
    <nz-layout>
      <nz-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;padding: 5px;">
          <div
          style=" margin-left: 20px;color: white;font-family: 'Nunito', sans-serif;font-size:x-large;
          "
          >
          Department name
          </div>
          <div>
            <nz-avatar
            *ngIf="checkIfItsyahoo !== true"
            nzSize="small"
            style="
            display: inline-block;
            vertical-align: middle;"
            [ngStyle]="{ 'background-color': '#f56a00' }" nzIcon="user" [nzSrc]="userProfileImg" nzSize="large" style="vertical-align: middle;margin-right: 10px;">
          </nz-avatar>
  
          <ngx-letters-avatar
            *ngIf="checkIfItsyahoo === true"
            [avatarName]="userName"
            [width]="40"
            [circular]="true"
            style="
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 10px;"
            fontFamily="Open Sans"></ngx-letters-avatar>
  
            <button
            (click)="logOut()"
            nz-button
            nzType="primary"
            style="font-family: 'Nunito', sans-serif;"
            >Create facult</button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div *ngIf="switchLayoutType === 'faculties' ">
          <app-faculties></app-faculties>
        </div>
        <div *ngIf="switchLayoutType === 'teachers' ">
            <app-teachers></app-teachers>
        </div>
  
        <div *ngIf="switchLayoutType === 'settings' ">
          <app-settings></app-settings>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  