

<nz-layout class="layout">
    <nz-sider style="background-color: #512DA8;">
  
      <ul nz-menu nzMode="inline" style="background-color: #512DA8;">
        <li nz-menu-item (click)="changeLayoutDesign('overview')"
        [ngStyle]="{'background-color': switchLayoutType === 'teachers'? '#651FFF':'#673AB7' }">
        <i nz-icon nzType="team" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Teachers</span>
        </li>
        
        
        <li nz-menu-item nzSelected (click)="changeLayoutDesign('review')"
        [ngStyle]="{'background-color': switchLayoutType === 'faculties'? '#651FFF':'#673AB7' }">
        <i nz-icon nzType="book" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Faculties</span>
        </li>

        <li nz-menu-item (click)="changeLayoutDesign('stuff')"
        [ngStyle]="{'background-color': switchLayoutType === 'settings'? '#651FFF':'#673AB7' }">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
          <span style="font-family: 'Nunito', sans-serif;">Settings</span>
        </li>
        
  
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;padding: 5px;">
          <div
          style=" margin-left: 20px;color: white;font-family: 'Nunito', sans-serif;font-size:x-large;
          "
          >
          Department name
          <!-- <button nz-button nz-dropdown [nzDropdownMenu]="menuDepartment">
            Department name
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #menuDepartment="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item style="color: black;">Department of Botany</li>
              <li nz-menu-item>Department of Science</li>
              <li nz-menu-item>Department of Zulich</li>
              <li nz-menu-item>Department of IT</li>
            </ul>
          </nz-dropdown-menu> -->
          </div>
          <div>
            <nz-avatar
            *ngIf="checkIfItsyahoo !== true"
            nzSize="small"
            style="
            display: inline-block;
            vertical-align: middle;"
            [ngStyle]="{ 'background-color': '#f56a00' }" nzIcon="user" [nzSrc]="userProfileImg" nzSize="large" style="vertical-align: middle;margin-right: 10px;">
          </nz-avatar>
  
          <ngx-letters-avatar
            *ngIf="checkIfItsyahoo === true"
            [avatarName]="userName"
            [width]="40"
            [circular]="true"
            style="
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 10px;"
            fontFamily="Open Sans"></ngx-letters-avatar>
  
            <button
            (click)="logOut()"
            nz-button
            nzType="primary"
            style="font-family: 'Nunito', sans-serif;"
            >LogOut</button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div *ngIf="switchLayoutType === 'faculties' ">
          <app-faculties></app-faculties>
        </div>
        <div *ngIf="switchLayoutType === 'teachers' ">
            <app-teachers></app-teachers>
        </div>
  
        <div *ngIf="switchLayoutType === 'settings' ">
          <app-settings></app-settings>
        </div>

      </nz-content>
    </nz-layout>
  </nz-layout>
  