<nz-layout class="layout">
  <nz-sider style="background-color: #29B6F6;">

    <ul nz-menu nzMode="inline" style="background-color: #29B6F6;">
      <li nz-menu-item (click)="changeLayoutDesign('overview')">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>Home</span>
      </li>
      <li nz-menu-item (click)="changeLayoutDesign('stuff')">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>My Stuffs</span>
      </li>
      <li nz-menu-item nzSelected (click)="changeLayoutDesign('review')">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Review Timetable</span>
      </li>
      <li nz-menu-item (click)="changeLayoutDesign('ue')">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Review UE Timetable</span>
      </li>
      <li nz-menu-item (click)="changeLayoutDesign('home')">
        <i nz-icon nzType="read" nzTheme="outline"></i>
        <span>Review Subjects</span>
      </li>
      <li nz-menu-item (click)="changeLayoutDesign('collision')">
        <i nz-icon nzType="ungroup" nzTheme="outline"></i>
        <span>Collisions</span>
      </li>
      <li nz-menu-item (click)="changeLayoutDesign('files')">
        <i nz-icon nzType="cloud-server" nzTheme="outline"></i>
        <span>Class Files</span>
      </li>

    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;padding: 5px;">
        <div
        style="color: black;font-family: 'Rubik', sans-serif;font-size:x-large;
        "
        >
          Ati
        </div>
        <div>
          <nz-badge
          [nzCount]="1000"
          [nzOverflowCount]="999"
          [nzStyle]="{ backgroundColor: '#52c41a' }"
          >
            <nz-avatar
            style="
            display: inline-block;
            vertical-align: middle;"
            [ngStyle]="{ 'background-color': '#f56a00' }" nzText="Adam" nzSize="medium" style="vertical-align: middle;margin-right: 10px;"></nz-avatar>
          </nz-badge>

          <button
          nz-button nzType="primary" nzSize="small"
          >LogOut</button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div *ngIf="switchLayoutType === 'home' ">
        <app-home></app-home>
      </div>
      <div *ngIf="switchLayoutType === 'overview' ">
        <app-overview-page></app-overview-page>
      </div>

      <div *ngIf="switchLayoutType === 'stuff' ">
        <app-my-stuff></app-my-stuff>
      </div>

      <div *ngIf="switchLayoutType === 'review' ">
        <app-review></app-review>
      </div>

      <div *ngIf="switchLayoutType === 'ue' ">
        <app-review-ue></app-review-ue>
      </div>
      <div *ngIf="switchLayoutType === 'collision' ">
        <app-collision></app-collision>
      </div>

      <div *ngIf="switchLayoutType === 'files' ">
        <app-class-file></app-class-file>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
