
.layout {
  min-height: 100vh;
  background-color: white;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 200px;
  background-color: white;

}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

nz-content {
  margin: 10px 10px 0;
  overflow: initial;
  background-color: white;
}
nz-badge {
  margin-right: 30px;
}

nz-footer {
  text-align: center;
}
[nz-menu] {
  width: 240px;
}

nz-header {
  background: whitesmoke;
  padding: 0;
}

