
<nz-tabset
[nzTabBarExtraContent]="extraTemplate"
  mat-align-tabs="start"
>
  <nz-tab nzTitle="Monday">
    <app-monday></app-monday>
  </nz-tab>
  <nz-tab nzTitle="Tuesday">
    <app-tuesday></app-tuesday>
  </nz-tab>
  <nz-tab nzTitle="Wednesday">
    <app-wednesday></app-wednesday>
  </nz-tab>
  <nz-tab nzTitle="Thursday">
    <app-thursday></app-thursday>
  </nz-tab>

  <nz-tab nzTitle="Friday">
    <app-friday></app-friday>
  </nz-tab>

</nz-tabset>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" nzSize="large"
  (click)="showModalMiddle()"
  >
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  Set Timetable
</button>
</ng-template>

    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="true"
      [nzWidth]="720"
      [nzVisible]="isVisibleMiddle"
      nzTitle="Set Subject Timetable"
      (nzOnClose)="handleCancelMiddle()"
    >
    <form nz-form class="form" #form="ngForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-select
        required
        [(ngModel)]="dayValue"
        name="day"
        style="width: 100%;margin-bottom: 10px;"
        nzPlaceHolder="Select Day">
          <nz-option nzValue="Monday" nzLabel="Monday"></nz-option>
          <nz-option nzValue="Tuesday" nzLabel="Tuesday"></nz-option>
          <nz-option nzValue="Wednesday" nzLabel="Wednesday"></nz-option>
          <nz-option nzValue="Thursday" nzLabel="Thursday"></nz-option>
          <nz-option nzValue="Friday" nzLabel="Friday"></nz-option>
        </nz-select>
      </nz-form-item>

      <nz-form-item>
        <nz-select
        [(ngModel)]="subjectValue"
        name="subject"
        required
        style="width: 100%;margin-bottom: 10px;"
        nzPlaceHolder="Select Subject Name">
          <nz-option nzValue="Monday" nzLabel="Monday"></nz-option>
          <nz-option nzValue="Tuesday" nzLabel="Tuesday"></nz-option>
          <nz-option nzValue="Wednesday" nzLabel="Wednesday"></nz-option>
          <nz-option nzValue="Thursday" nzLabel="Thursday"></nz-option>
          <nz-option nzValue="Friday" nzLabel="Friday"></nz-option>
        </nz-select>
      </nz-form-item>

      <nz-form-item>
        <nz-select
        [(ngModel)]="typeValue"
        name="type"
        required
        style="width: 100%;margin-bottom: 10px;"
        nzPlaceHolder="Set Lesson Type">
          <nz-option nzValue="Lecture" nzLabel="Lecture"></nz-option>
          <nz-option nzValue="Tutorial" nzLabel="Tutorial"></nz-option>
          <nz-option nzValue="Practical" nzLabel="Practical"></nz-option>
          <nz-option nzValue="Workshop" nzLabel="Workshop"></nz-option>
          <nz-option nzValue="Discussion" nzLabel="Discussion"></nz-option>
          <nz-option nzValue="Test" nzLabel="Test"></nz-option>

        </nz-select>
      </nz-form-item>

        <nz-form-item>
          <input
          [(ngModel)]="locationValue"
          name="location"
          style="width: 100%;margin-bottom: 10px;"
           nz-input placeholder="Lesson Location" required />
        </nz-form-item>

        <nz-form-item>
          <nz-time-picker
          style="width: 100%;margin-bottom: 10px;"
          nzPlaceHolder="Start Time"
          nzFormat="HH:mm"
          [(ngModel)]="startTimeValue" name="start" required></nz-time-picker>
        </nz-form-item>

        <nz-form-item>
          <nz-time-picker
          style="width: 100%;margin-bottom: 10px;"
          nzPlaceHolder="End Time"
          nzFormat="HH:mm"
           [(ngModel)]="endTimeValue" name="end" required></nz-time-picker>
        </nz-form-item>

        <div style="float: right;margin-top: 20px;">
          <button nz-button style="margin-right: 8px;" (click)="handleCancelMiddle()">Cancel</button>
          <button nz-button nzType="primary" (click)="handleOkMiddle()">Set</button>
        </div>

      </form>
    </nz-drawer>



